RewriteEngine on

#Alt domain harici kullan
#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ http://c2c.emrahyuksel.com.tr/$1 [R,L]

#www olmadan yonlendirme
#RewriteCond %{HTTP_HOST} ^emrahyuksel.com.tr. [NC]
#RewriteRule ^(.*)$ http://www.site_adi.com/$1 [L,R=301,NC]


#Seo url oluşturma
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#404 hata sayfası yönlendirme kodu
#ErrorDocument 404 http://c2c.emrahyuksel.com.tr/404.php



RewriteRule ^smeta_detay-([0-9a-zA-Z-_]+) smeta_detay.php?smeta_id=$1 [L,QSA]
RewriteRule ^smeta_duzelis-([0-9a-zA-Z-_]+) smeta_duzelis.php?smeta_id=$1 [L,QSA]
RewriteRule ^iqtisadi_tesnifat_bolme_duzelis-([0-9a-zA-Z-_]+) iqtisaditesnifat_bolme_duzelis.php?iqtisaditesnifat_bolme_id=$1 [L,QSA]
RewriteRule ^iqtisaditesnifat_kb_duzelis-([0-9a-zA-Z-_]+) iqtisaditesnifat_kb_duzelis.php?iqtisaditesnifat_kb_id=$1 [L,QSA]
RewriteRule ^iqtisaditesnifat_paragraf_duzelis-([0-9a-zA-Z-_]+) iqtisaditesnifat_paragraf_duzelis.php?iqtisaditesnifat_paragraf_id=$1 [L,QSA]
RewriteRule ^iqtisaditesnifat_madde_duzenle-([0-9a-zA-Z-_]+) iqtisaditesnifat_madde_duzenle.php?iqtisaditesnifat_madde_id=$1 [L,QSA]
RewriteRule ^iqtisaditesnifat_yarimmadde_duzenle-([0-9a-zA-Z-_]+) iqtisaditesnifat_yarimmadde_duzenle.php?iqtisaditesnifat_yarimmadde_id=$1 [L,QSA]

RewriteRule ^iqtisaditesnifat-([0-9a-zA-Z-_]+)-([0-9]+)$  iqtisaditesnifat.php?sef=$1&iqtisaditesnifat_id=$2 [L,QSA]
RewriteRule ^urun-([0-9a-zA-Z-_]+)-([0-9]+)$  urun-detay.php?sef=$1&urun_id=$2 [L,QSA]
RewriteRule ^satici-([0-9a-zA-Z-_]+)-([0-9]+)$  user.php?sef=$1&kullanici_id=$2 [L,QSA]




#RewriteRule ^urun-([0-9a-zA-Z-_]+)  urun-detay.php?sef=$1 [L,QSA]




RewriteRule ^haber-([0-9a-zA-Z-_]+)-([0-9]+)$  haber-detay.php?sef=$1&icerik_id=$2 [L,QSA]
RewriteRule ^sayfa-([0-9a-zA-Z-_]+)-([0-9]+)$  menu-detay.php?sef=$1&menu_id=$2 [L,QSA]
RewriteRule ^video-([0-9a-zA-Z-_]+)-([0-9]+)$  video-detay.php?sef=$1&video_id=$2 [L,QSA]
RewriteRule ^egitim-([0-9a-zA-Z-_]+)  egitim-detay.php?sef=$1 [L,QSA]
RewriteRule ^izle-([0-9a-zA-Z-_]+)  izle-egitim.php?sef=$1 [L,QSA]
RewriteRule ^seyret-([0-9a-zA-Z-_]+)-([0-9]+)$  seyret.php?sef=$1&program_id=$2 [L,QSA]
RewriteRule ^odeme-egitim-([0-9a-zA-Z-_]+)  odeme-egitim.php?egitim_id=$1 [L,QSA]